html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}

.username-block {
	button {
		margin: 10px 0px 10px 10px;
	}
}

.dropzone {
	margin-bottom: 20px;
	clear: both;
	text-align: center;
	border: 1px solid #bbb !important;
	.dz-details {
		display:none;
	}
	
	.dz-preview:hover .dz-image img {
		-webkit-filter: none !important;
		filter: none !important;
	}

	.dz-preview .dz-image {
		border-radius: 5px !important;
		width: 180px !important;
		height: auto !important
	}
}
.panel {
	margin-bottom: 0px !important;
}

.panel-body {
	&.pbody {
		padding: 0;
	}

	.msg-container {
		overflow-y: scroll;
		max-height: 100%;
	}
	.rooms {
		padding: 0;
		border-right: 1px solid #ccc;
		height: 100%;

		.newRoomBtn {
			position: absolute;
    		bottom: 0;
		}

		ul {
			overflow-y: scroll;
			list-style-type: none; 
			margin: 0; 
			padding: 0 0 40px 0;
			height: 100%;
			.badge {
				background: #f77;
				animation-duration: 0.1s;
				margin: 10px;
			}

			li {
				padding: 10px;
				cursor: pointer;
				&:hover {
					background: #eee; 
				}
				&.active {
					background: #ddd;
				}
				span {
					margin: 20px;
				}
				.private {
					font-style: italic;
				}
			}

		}
	}
}

.panel-heading {
	#menubtn {
		cursor: pointer;
		&:hover {
			transition: transform 0.3s;
			transform: scale(1.4);
		}
	}
}

.panel-footer {
	position: relative;
	#chat-input{
		resize: none;
	}

	.emoji {
		font-size: 2em;
		cursor: pointer;
		background: none;
		border: none;
		&:hover {
			background: #eee;
		};
	}

	#btn-emoji {
		position: absolute;
		top: 20px;
		right: 25px;
		font-size: 1.5em;

	}
}

#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0;

	li {
		animation: fadein 0.3s;
		@keyframes fadein {
		    from { opacity: 0; }
		    to   { opacity: 1; }
		}

		margin: 10px 0;
		padding-bottom: 10px;
		border-bottom: 1px dotted #B3A9A9;

		.chat-img {
			margin: 10px 0;
			img {
				border-radius: 10px;
				width: 60px;
			}
		}

		.msg-content {
			margin-left: 70px;
			.username {
				font-size: 1.2em;
				margin-top: 0.5em;
				margin-bottom: 0.5em;
				&:hover {
					cursor: pointer;
				}
			}

			p{
				margin-right: 80px;
				text-align: justify;
			}
			.msg-time {
				color: #aaaaaa;
			}
		}
	}
}
